.box{
  width: 90%;
  height: 12rem;
  background-color: beige;
  border: 2px solid back;
  border-radius: 5px;
  margin-top: 2rem;
}
.main{
  /* display: grid;
  grid-template-rows: repeat(1fr,auto); */
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  gap: 1;
}